@import "general";
#root{
    background-color: $darkgray;
}
.container{
    width: 1400px;
    height: 900px;
    border-radius: 50px;
    background-color: $white;
    display: flex;
    flex-direction: row;
    .sidebar{
        position: relative;
        border-radius: inherit;
        height: 100%;
        width: 25%;
        padding: 25px;
        background-color: $lightgray;
    }
    .left-sidebar{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        .main-user{
            margin: 0 5px;
            position: relative;
            height: 70px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .user-info{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                height: 100%;
                img.user-avatar{
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
                .user-desc{
                    display: flex;
                    flex-direction: column;
                    width: 100px;
                    height: 100%;
                    justify-content: center;
                    .name{
                        font-weight: bold;
                        font-size: 20px;
                        letter-spacing: 0.5px;
                        color: $blue;
                    }
                    .note{
                        color: $black;
                        font-size: 12px;
                    }
                }
            }
            .edit{
                height: 52px;
                width: 52px;
                margin: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                transition: 200ms;
                user-select: none;
                cursor: pointer;
                    img{
                        width: 20px;
                        height: 20px;
                    }
            }
            .edit:hover{
                background-color: $white;
                img{
                    transform: scale(1.03);
                }
            }
        }
        .main-user::after{
            content: "";
            position: absolute;
            width: calc(100% + 10px);
            height: 2px;
            background-color: $gray;
            bottom: -20px;
            border-radius: 10px;
            left: -5px;
            z-index: 2;
            opacity: 0.5;
        }
        .members{
            margin-top: 40px;
            h2{
                margin-left: 5px;
                margin-bottom: 20px;
                color: $black;
            }
            .users-info{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .user{
                    .user-info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        height: 100%;
                        img.user-avatar{
                            border-radius: 50%;
                            width: 60px;
                            height: 60px;
                        }
                        .user-desc{
                            display: flex;
                            flex-direction: column;
                            width: 100px;
                            height: 100%;
                            justify-content: center;
                            .name{
                                font-weight: bold;
                                font-size: 20px;
                                letter-spacing: 0.5px;
                                color: $blue;
                            }
                            .note{
                                color: $black;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .right-sidebar{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .conversation{
        height: 100%;
        padding: 25px;
        width: 50%;
    }
    .left-sidebar::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
        top: 0;
        left: calc(100% - 20px);
        background: linear-gradient(to right,  $lightgray , transparent);
    }
    .right-sidebar::before{
        content: "";
        position: absolute;
        width: 35px;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
        top: 0;
        right: calc(100% - 20px);
        background: linear-gradient(to left,  $lightgray , transparent);
    }

}