@import "general";
#root{
    background-color: $darkgray;
}
.container{
    width: 1400px;
    height: 900px;
    border-radius: 50px;
    background-color: $white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px 1px $black;
    .sidebar{
        position: relative;
        border-radius: inherit;
        height: 100%;
        width: 25%;
        padding: 25px;
        background-color: $lightgray;
    }
    .left-sidebar{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        .main-user{
            margin: 0 5px;
            position: relative;
            height: 70px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .user-info{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                height: 100%;
                img.user-avatar{
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
                .user-desc{
                    display: flex;
                    flex-direction: column;
                    width: 100px;
                    height: 100%;
                    justify-content: center;
                    .name{
                        font-weight: bold;
                        font-size: 20px;
                        letter-spacing: 0.5px;
                        color: $blue;
                    }
                    .note{
                        color: $black;
                        font-size: 12px;
                    }
                }
            }
            .edit{
                height: 52px;
                width: 52px;
                margin: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                transition: 200ms;
                user-select: none;
                cursor: pointer;
                img{
                    transition: 200ms;
                    width: 20px;
                    height: 20px;
                    pointer-events: none;
                }
            }
            .edit:hover{
                background-color: $white;
                img{
                    transform: scale(1.1);
                }
            }
        }
        .main-user::after{
            content: "";
            position: absolute;
            width: calc(100% + 10px);
            height: 2px;
            background-color: $gray;
            bottom: -20px;
            border-radius: 10px;
            left: -5px;
            z-index: 2;
            opacity: 0.5;
        }
        .members{
            margin-top: 40px;
            h2{
                margin-left: 5px;
                margin-bottom: 20px;
                color: $green;
            }
            .users-info{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .user{
                    .user-info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        height: 100%;
                        img.user-avatar{
                            border-radius: 50%;
                            width: 60px;
                            height: 60px;
                        }
                        .user-desc{
                            display: flex;
                            flex-direction: column;
                            width: 100px;
                            height: 100%;
                            justify-content: center;
                            .name{
                                font-weight: bold;
                                font-size: 20px;
                                letter-spacing: 0.5px;
                                color: $blue;
                            }
                            .note{
                                color: $black;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .logout{
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            form{
                button{
                    width: 160px;
                    background-color: $red;
                    transition: 400ms;
                    color: $white;
                    padding: 10px 0;
                    border-radius: 16px;
                    font-size: 16px;
                }
                button:hover{
                    transform: scale(1.03);
                }
            }
        }
    }
    .right-sidebar{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .content{
            height: 90%;
            width: 100%;
            .chat-info{
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                img{
                    width: 180px;
                    border-radius: 100px;
                }
                span{
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            .buttons{
                position: relative;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                height: 20%;
                gap: 20px;
                .button{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    font-size: 18px;
                    cursor: pointer;
                    transition: 400ms;
                    .img-bg{
                        background-color: $blandblue;
                        padding: 20px;
                        border-radius: 100px;
                        height: 80px;
                        img{
                            width: 40px;
                            height: 40px;
                            pointer-events: none;
                        }
                    }
                    span{
                        user-select: none;
                    }
                }
                .button:hover{
                    transform: scale(1.02);
                }
            }
            .buttons::after{
                content: "";
                position: absolute;
                height: 100%;
                width: 2px;
                border-radius: 10px;
                background-color: $gray;
                opacity: 0.5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .attachments-box{
                margin-top: 50px;
                .attachments{
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    span{
                        color: $blue;
                        border: 2px solid $blue;
                        padding: 10px 20px;
                        border-radius: 50px;
                        font-size: 18px;
                        user-select: none;
                        cursor: pointer;
                        transition: 400ms;
                    }
                    span:hover{
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
    .conversation{
        position: relative;
        height: 100%;
        padding: 25px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header{
            color: $green;
            padding: 10px 20px 20px;
            border-bottom: 2px solid rgba($gray, 0.5);
        }
        .chat{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - 100px - 120px);
            bottom: 120px;
            left: 0;
            padding: 20px;
            gap: 40px;
            overflow-y: scroll;
            scrollbar-width: none;
            .message{
                background-color: $blandblue;
                align-self: flex-start;
                padding: 10px 20px 10px 10px;
                color: $black;
                border-radius: 16px 16px 16px 0;
                max-width: 400px;
            }
            .mymessage{
                align-self: flex-end;
                background-color: $blue;
                padding: 10px 10px 10px 20px;

                color: $white;
                border-radius: 16px 16px 0 16px;
            }
            .message:not(.mymessage) + .message:not(.mymessage){
                margin-top: -35px;
            }
            .mymessage + .mymessage{
                margin-top: -35px;
            }
        }
        .menu-box{
            position: absolute;
            background-color: $blandblue;
            padding: 20px;
            height: 100px;
            width: 100%;
            bottom:0;
            left:0;
            display: flex;
            justify-content: center;
            align-items: center;
            .menu{
                width: 95%;
                height: 90px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .typer{
                    width: 90%;
                    height: 50%;
                    background-color: $white;
                    border-radius: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left-side{
                        border-bottom-left-radius: 50px;
                        border-top-left-radius: 50px;
                        height: 100%;
                        width: 10px;
                    }
                    form{
                        margin: 0;
                        height: 100%;
                        width: calc(100% - 30px - 140px);
                        input{
                            height: 100%;
                            background-color: $white;
                            border: 0;
                            color: $black;
                        }
                    }
                    .right-side{
                        position: relative;
                        height: 100%;
                        width: 140px;
                        border-bottom-right-radius: 50px;
                        border-top-right-radius: 50px;
                        form{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-evenly;
                            input{
                                display: none;
                            }
                            button{
                                height: 30px;
                                width: 30px;
                                background-color: $white;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    height: 30px;
                                    width: 30px;
                                    transition: 400ms;
                                    pointer-events: none;
                                }
                            }
                            button:hover{
                                img{
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                    .right-side::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 2px;
                        height: calc(100% - 12px);
                        background-color: $gray;
                        opacity: 0.5;

                    }
                }  
                .send{
                    height: 65px;
                    width: 65px;
                    background-color: $blue;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: 400ms;
                    user-select: none;
                    transform-origin:  center;
                    img{
                        height: 70%;
                        width: 70%;
                        transform-origin:  left;
                        pointer-events: none;   
                        transform: translateY(-34.5%) rotate(45deg);
                    }
                }
                .send:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    .left-sidebar::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 100%;
        z-index: 1;
        opacity: 0.8;
        top: 0;
        left: calc(100% - 20px);
        background: linear-gradient(to right,  $lightgray , transparent);
    }
    .right-sidebar::before{
        content: "";
        position: absolute;
        width: 35px;
        height: 100%;
        z-index: 1;
        opacity: 0.8;
        top: 0;
        right: calc(100% - 20px);
        background: linear-gradient(to left,  $lightgray , transparent);
    }
}