@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$white: #fefefe;
$lightgray: #e0e0e0;
$gray: #868686;
$darkgray: #2c2c2c;
$black: #121212;
$red: #F44336;
$green: #4CAF50;
$blue: #448AFF;
$blandblue: #81b3eb;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}